<a href="https://colab.research.google.com/github/s34836/BIG_DATA/blob/main/lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write 2 separate scripts and run them in spark-submit or in google colab (5 pts):

a. Scripts: total spent by customer and total spent by customer with sorting -
just as the scripts you wrote with MRJob, but with Spark sql this time.

b. Attach code and screenshots with running the code. DO NOT ATTACH IT ZIP
FOLDER.

c. This exercise must be completed using spark sql methods.

In [ ]:
from pyspark.sql import SparkSession, Row

spark = SparkSession.builder.appName("TotalSpentByCustomer").getOrCreate()
df = spark.read.csv("customer-orders.csv", header=False, inferSchema=True)
df = df.withColumnRenamed("_c0", "customer_id") \
       .withColumnRenamed("_c1", "order_id") \
       .withColumnRenamed("_c2", "amount")

df.createOrReplaceTempView("customer_orders")
result = spark.sql("SELECT customer_id, ROUND(SUM(amount), 2) AS total_spent \
                    FROM customer_orders GROUP BY customer_id")
result.show()


spark.stop()

+-----------+-----------+
|customer_id|total_spent|
+-----------+-----------+
|         31|    4765.05|
|         85|    5503.43|
|         65|    5140.35|
|         53|     4945.3|
|         78|    4524.51|
|         34|     5330.8|
|         81|    5112.71|
|         28|    5000.71|
|         76|    4904.21|
|         27|    4915.89|
|         26|     5250.4|
|         44|    4756.89|
|         12|    4664.59|
|         91|    4642.26|
|         22|    5019.45|
|         93|    5265.75|
|         47|     4316.3|
|          1|     4958.6|
|         52|    5245.06|
|         13|    4367.62|
+-----------+-----------+
only showing top 20 rows

In [2]:
from pyspark.sql import SparkSession, Row

spark = SparkSession.builder.appName("TotalSpentByCustomer").getOrCreate()
df = spark.read.csv("customer-orders.csv", header=False, inferSchema=True)
df = df.withColumnRenamed("_c0", "customer_id") \
       .withColumnRenamed("_c1", "order_id") \
       .withColumnRenamed("_c2", "amount")

df.createOrReplaceTempView("customer_orders")
result = spark.sql("SELECT customer_id, ROUND(SUM(amount), 2) AS total_spent \
                    FROM customer_orders GROUP BY customer_id \
                    ORDER BY total_spent DESC")
result.show()


spark.stop()

+-----------+-----------+
|customer_id|total_spent|
+-----------+-----------+
|         68|    6375.45|
|         73|     6206.2|
|         39|    6193.11|
|         54|    6065.39|
|         71|    5995.66|
|          2|    5994.59|
|         97|    5977.19|
|         46|    5963.11|
|         42|    5696.84|
|         59|    5642.89|
|         41|    5637.62|
|          0|    5524.95|
|          8|    5517.24|
|         85|    5503.43|
|         61|    5497.48|
|         32|    5496.05|
|         58|    5437.73|
|         63|    5415.15|
|         15|    5413.51|
|          6|    5397.88|
+-----------+-----------+
only showing top 20 rows